<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-warning mb-0">
        <div class="alert-heading">
          <i class="bi bi-exclamation-triangle"></i> <strong>Warning</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr />
        <div class="message"></div>
        <hr />
        <p class="text-right">
          <a class="delete btn btn-sm btn-danger" title="Delete"><i class="bi bi-trash"></i> Delete</a>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
        </p>
      </div>
    </div>
  </div>
</div>